.RoundButton {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding:10px;
	background-color: rgba(10, 10, 250, .7);	
	color:white;	
	z-index: 9999;
	display: inline-block;
}

.SquaredButton {
	border-radius: 5px;
	background-color: rgba(10, 10, 250, .7);	
	color:white;	
	z-index: 9999;
	width: 100%;
	padding: 10px 0px;
}

.Container {
	text-align: center;	
	margin-top: 0px!important;
	margin-bottom: 15px;
}