.Container {
    position: relative;  
    margin-top: 0px!important;  
    margin-bottom: 10px;
}

.Select {
    padding: 2px;    
}

.SelectIcon {
    position: absolute;
    top: 12px!important;
    height: 50px;
}