.toast-success {
	background-color: darkgreen;
}

.toast-error {
	background-color: darkred;
}

.toast-info {
	background-color: #636363;
}

.panel {
	min-width: 100px;
	max-width: 90vw;
}

.app {	
	outline: 1px solid lightgray;
	max-width: 650px;
	margin: 0 auto;
}