.SuppliesTable {
    margin-top: 10px!important;
    table-layout:fixed;    
}

.SuppliesTable > tr > th{
    background-color: rgb(200,200,200,0.6);
    font-size: 12px;
    text-align: center;
}

.SuppliesTable td {
    font-size: 11px;
}

.Card {
    width:100%; 
    margin: 0; 
    border-radius: 5px; 
    min-height: 70px;    
}